@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --color-primary: #f8fafc;
    --color-secondary: #d8dfe8;

    --color-text-base: #1e293b;
    --color-text-alt: #555d68;
    --color-text-muted: #eaedf1; /* 64748b */

    --color-text-gold: #eab308;
    --color-text-silver: #94a3b8;
    --color-text-bronze: #ea580c;

    --color-card-primary: #ffffff;
    --color-card-secondary: #eeeff0;

    --color-button-primary: #667284;
    --color-button-primary-hover: #334155;
    --color-button-muted: #64748b;
    --color-button-muted-hover: #475569;
  }
}
